<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <title> {% block title %} {% endblock %} </title>

  <link rel="stylesheet" href="css/base.css" media="screen">
  <link rel="stylesheet" href="css/modern.css?v=20260927" media="screen">

  <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

  <!-- bootstrap -->
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="bootstrap/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="bootstrap/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="bootstrap/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


  <!-- contract details -->
  <script src="js/contractsDetails.js"></script>
  <script src="js/web3.min.js"></script>


  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Land Registry"
    }
  </script>

  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="dashboard">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body class="u-body u-xl-mode" data-lang="en">
  <header>
    <div>
      <h1> Welcome To Land Registry Portal</h1>
    </div>
  </header>
  <section>

    <div id="navBar">

      <div>

        {% if add_property %}
        <button class="dashboardLinks" id="addPropertyButtonDiv" onclick="toggleAddProperty()">
          Add Property
        </button>
        {% else %}
        <a class="dashboardLinks" href="/dashboard">
          Dashboard
        </a>
        {% endif %}



        <a class="dashboardLinks" href="/MySales">Sales Created</a>

        <a class="dashboardLinks" href="/myRequestedSales">Requested Sales</a>

        <a class="dashboardLinks" href="/availableToBuy"> Available To Buy</a>

        <a class="dashboardLinks" href="/logout" onclick="logout()">Logout </a>

        <button id="nameOfUser">
        </button>
      </div>


    </div>



  </section>

  

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="lr-footer">
    <p>© 2026 Land Registry Portal · Secure property management on blockchain</p>
  </footer>

  <div id="loadingDiv" style="display: none;">
    <span> Loading .. </span>
    <div id="loading" class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</body>

</html>